<!-- Navbar -->
<nav class="navbar navbar-expand-lg navbar-absolute navbar-transparent">
    <div class="container-fluid">
        <div class="navbar-wrapper">
            <a class="navbar-brand" href="javascript:void(0)">POPULAS PREDICT</a>
        </div>

        <!-- Use a flex container to align items properly -->
        <div class="d-flex justify-content-end w-100">
            <div style="width: 200px;">
                <select class="form-control" id="yearDropdown" 
                        style="background-color: #525F7F; color: #ffffff; border: none; border-radius: 0.5em; padding: 0.3em;">
                    <option value="1991">1991</option>
                    <option value="2001">2001</option>
                    <option value="2011">2011</option>
                    <option value="2021">2021</option>
                    <option value="2031">2031</option>
                </select>
            </div>
        </div>

        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navigation"
                aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-bar navbar-kebab"></span>
            <span class="navbar-toggler-bar navbar-kebab"></span>
            <span class="navbar-toggler-bar navbar-kebab"></span>
        </button>

        <div class="collapse navbar-collapse" id="navigation">
            <ul class="navbar-nav ml-auto">
                <li class="dropdown nav-item">
                    <a href="#" class="dropdown-toggle nav-link" data-toggle="dropdown">
                        <div class="photo">
                            <img src="{{ config.ASSETS_ROOT }}/img/anime3.png" alt="Profile Photo">
                        </div>
                        <b class="caret d-none d-lg-block d-xl-block"></b>
                        <p class="d-lg-none">
                            Log out
                        </p>
                    </a>
                    <ul class="dropdown-menu dropdown-menu-right dropdown-navbar">
                        <li class="nav-link">
                            <a href="/user.html" class="nav-item dropdown-item">Profile</a>
                        </li>
                        <li class="dropdown-divider"></li>
                        <li class="nav-link">
                            <a href="{{ url_for('authentication_blueprint.logout') }}" 
                               class="nav-item dropdown-item">Logout</a>
                        </li>
                    </ul>
                </li>
                <li class="separator d-lg-none"></li>
            </ul>
        </div>
    </div>
</nav>
